@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #d5d5d5;
}

body{
    margin: 0;
    padding: 0;
    background-color: #232023;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button{
    cursor: pointer;
}

#logoImg{
    width: 110px;
    border-radius: 100px;
    margin-left: 2vw;
}

#header{
    display: flex;
    align-items: center;
    font-size: clamp(28px, 5vw, 38px);
    font-weight: 700;
    background-color: #5a5a5a;
    gap: 10px;
}

#main{
    display: flex;
    flex-grow: 1;
    background-color: #232023;
}


/* SIDEBAR STYLES */
#sidebar{
    display: flex;
    flex-direction: column;
    background-color: #2f2d2f;
    padding: 30px;
    width: clamp(220px, 30vw, 300px);
}

.buttonDays, #addProjectBtn{
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: #dddddd;
    padding: 10px 20px;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 10px;
}
.buttonDays:hover{
    transform: scale(1.05);
    background-color: #444444;
}
.buttonDays:active{
    transform: scale(0.99);
}
.buttonDays:focus{
    background-color: #444444;
}

.with-icon::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
#inbox::before {
    background-image: url('../assets/all.png');
}
#today::before {
    background-image: url('../assets/availability.png');
}
#thisWeek::before {
    background-image: url('../assets/bulletin-board.png');
}
#done::before {
    background-image: url('../assets/done.png');
}

#addProjectBtn{
    background-color: #232023;
    margin: 0 10px;
    font-size: clamp(12px, 2vw, 14px);
}
#addProjectBtn:hover{
    background-color: #545454;
}
#addProjectBtn::before{
    width: 15px;
    height: 15px;
    background-image: url('../assets/plus-symbol-button.png');
}

.add-task-form, .edit-task-form{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(127, 127, 127);
    padding: 20px 15px 20px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

input[type="text"]{
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding-left: 7px;
    outline: none;
    color: #d3d3d3;
    font-weight: 500;
    font-size: 16px;
    background-color: #232023;
}

input[type="button"], .edit-task-form-button, .cancel-form-button{
    border-radius: 5px;
    background-color: #2f2d2f;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 15px;
    cursor: pointer;
}

.add-cancel{
    display: flex;
    justify-content: end;
    gap: 5px;
}

.add-task-form-button, .edit-task-form-button{
    border: 1px solid #2ee700;
}
.add-task-form-button:hover, .edit-task-form-button:hover{
    color: #000000;
    background-color: #2ee700;
}

.cancel-form-button{
    border: 1px solid #dd2500;
}
.cancel-form-button:hover{
    background-color: #dd2500;
}

hr{
    width: 100%;
    border: 1px solid #898989;
    border-radius: 10px;
}
/* SIDEBAR STYLES */


/* CONTENT STYLES */
#content{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px clamp(50px, 12vw, 200px);
}

.headerDay{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.addTaskBtn{
    border: 2px solid rgb(111, 111, 111);
    background: none;
    font-size: 16px;
    background-color: #2f2d2f;
    border-radius: 10px;
    padding: 8px 20px;
    outline: none;
    margin-top: 10px;
}
.addTaskBtn:hover{
    border: 2px solid rgb(173, 173, 173);
    background-color: #696769;
    transform: scale(1.01);
}
.addTaskBtn:active{
    transform: scale(1);
}

.tasks{
    display: flex;
    flex-direction: column;
}

.task{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    justify-content: center;
}

.task-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-name-container{
    display: flex;
    gap: 10px;
}


input[type="checkbox"] {
  appearance: none;
  background: #eaeaea;
  outline: none;
  border: none;
  height: 1.75em;
  width: 1.75em;
  border-radius: 100%;
  vertical-align: text-bottom;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease;
}
input[type="checkbox"] {
  border-radius: 10px;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}
input[type="checkbox"]:checked::before {
  border-right: 5px solid #2ee700;
  border-bottom: 6px solid #33ff00;
  height: 90%;
  width: 30%;
  transform: rotate(50deg) translateY(-20%) translateX(-10%);
}
input[type="checkbox"]:active, input[type="checkbox"]:focus{
    background-color: #fff;
    border: 2px solid #fff;
    transform: scale(1.05);
}

input[type="date"]{
    background: none;
    border: 2px solid #747474;
    border-radius: 5px;
    margin-top: 5px;
    max-width: 110px;
    padding: 5px 15px;
    cursor: pointer;
}

.date-container{
    display: flex;
    align-items: center;
    color: #bfbfbf;
    cursor: pointer;
}

.date-input{
    display: flex;
    color: #bfbfbf;
    cursor: pointer;
}

::-webkit-calendar-picker-indicator { 
    background: transparent;
    width: 105px;
    height: 50px;
    position: absolute;
    margin-left: -15px;
    cursor: pointer;
}

.overlay-today::placeholder, .overlay-tomorrow::placeholder, .overlay-anyday::placeholder{
    font-size: 14px;
}

.overlay-today::placeholder{
    color: #00ff00;
}
.overlay-tomorrow::placeholder{
    color: #ffa500;
}
.overlay-anyday::placeholder{
    color: #00ddff;
}

.done{
    text-decoration: line-through;
}

.active-tab{
    background-color: #444444;
}

.buttons{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.buttons img{
    width: 25px;
    height: 25px;
}

.date{
    background: none;
    border: none;
    border-radius: 10px;
    width: 110px;
    outline: none;
    margin-top: 5px;
}

.edit, .delete{
    background: none;
    border: none;
}

.edit:hover, .delete:hover{
    transform: scale(1.07);
}

.edit:active, .delete:active{
    transform: scale(0.95);
}

.no-done-tasks, .no-tasks{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 24px;
    font-weight: 900;
    color: rgb(255, 238, 0);
}
.no-done-tasks::after{
    background-image: url('../assets/sad.png');
}
.no-done-tasks img, .no-tasks img{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.no-tasks{
    color: #00c3ff;
}
.no-tasks::after{
    background-image: url('../assets/party-popper.png');
}
/* CONTENT STYLES */


/* FOOTER STYLES */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    background-color: #5a5a5a;
    font-size: clamp(14px, 1vw, 18px);
    padding: 10px;
}
#footer img{
    width: 25px;
    height: 25px;
    border-radius: 40px;
}
#footer img:hover{
    box-shadow: 0 0 5px rgb(9, 183, 0);
    transform: scale(1.1);
}
/* FOOTER STYLES */